.graph .axis {
    stroke-width: 1;
}

.graph .graph2 .axis .tick line {
  fill: red;
    stroke: green;
}

.graph .axis .tick text {
    fill: none;
    font-size: 0.7em;
}

.graph .axis .domain {
    fill: none;
    stroke: black;
}

.graph .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}
